body {
  background-color: rosybrown;
}
a {
  font-size: 25px;
  background-color: greenyellow;
  color: black;
  padding: 5px 10px 5px 10px;
}
li {
  margin-bottom: 25px;
}

p {
  font-size: 30px;
}
