body {
  background-color: wheat;
}

h1 {
  color: red;
}

p {
  font-size: 50px;
}

body {
  animation-name: switching-colors;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes switching-colors {
  0% {
    background-color: blue;
  }
  33% {
    background-color: yellow;
  }
  66% {
    background-color: red;
  }
  100% {
    background-color: blue;
  }
}

img {
  animation-name: rotate-lama;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes rotate-lama {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
