body {
  animation-name: switching-colors;
}

@keyframes switching-colors {
  0% {
    background-color: burlywood;
  }
  33% {
    background-color: brown;
  }
  66% {
    background-color: orange;
  }
  100% {
    background-color: burlywood;
  }
}
